.button-submit {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 264px;
  height: 40px;
  border-radius: 24px;
  background-color: #ffc83a;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
}
.button-submit:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
.container-train {
  padding: 0 15px;
}
.container-train .title {
  height: 24px;
  padding-left: 7px;
  border-left: 5px solid #ffc83a;
  font-size: 18px;
  color: #4a4a4a;
}
